h1 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#mat {
    display: grid;
    justify-items: center;
    background-color: beige; 
}

.card {
    height: 100px; 
    width: 70px; 
    margin: 10px; 
    border: solid white 1px; 
}