body{
    text-align: center;
    background-color: cadetblue;
}

.grid-con{
    display: grid;
    text-align: center;
    grid-auto-columns: 1fr;
}

.holder{
    display: none;
}

.dice{
    display: flex;
}
.dice > div {
    flex: 1; /*grow*/
  }
