body{
    font-size: 20px;
}

.grid-con{
    display: grid;
    text-align: center;
    grid-auto-columns: 1fr;
}
.cori, .ashley, .add-btn, .current-coins{
    margin: 25px
}
#title{
    text-align: center;
}

.add-btn{
    text-align: right;
}

.current-coins{
    text-align: left;
}

#add-coins{
    margin-right: 100px;
}